[Unit]
Description=Streambed Video Streamer
StartLimitIntervalSec=0

[Service]
Environment=RUST_LOG=warn
ExecStart=/usr/local/bin/streambed
Restart=always
RestartSec=2
User=tms

[Install]
WantedBy=multi-user.target
