[Unit]
Description=Upstream Video Streamer
StartLimitIntervalSec=0

[Service]
Environment=RUST_LOG=warn
ExecStart=/usr/local/bin/upstream
Restart=always
RestartSec=2
User=tms

[Install]
WantedBy=multi-user.target
